@model IEnumerable<SchoolSystem.Models.Feedback>

@{
    ViewData["Title"] = "ViewFeedbacks";
}

<h1>View Feedbacks</h1>

<p>
    <a asp-action="SendFeedback" class="btn btn-warning rounded">Send Feedback</a>
</p>

<div class="justify-content-center">
<table class="table bg-white table-hover">
        <thead style="background : #003049 " class="text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Response)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Response)
            </td>
            <td>
              <a asp-action="EditFeedback" asp-route-id="@item.Id" class="btn btn-warning ms-2"><i class="fa-solid fa-pen-to-square"></i></a>
              <a asp-action="DeleteFeedback" asp-route-id="@item.Id" class="btn btn-warning" onclick="return confirm('Are you sure you want to delete?');"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
